 .p1 {
    color: yellow;
}

.p2 {
    color: greenyellow;
}

body {
    background-color: gray;
}

#h1 {
    background-color: pink;
    color: white;
    border: dotted white;
}

.li {
    color: rgb(154, 154, 207);
    
}

.border1 {
   border: orange groove 10px;
   background-color: white;
   height: 100px;
}

.p3 {
    color: white;
    margin-inline: 
    ;
}

img {
    border: solid 20px;
    padding: 20px;
    background-color: aliceblue;
}


.spacing-list {
    display: inline;
}
